.chat-main
  .chat-main__group-info
    .main-header
      .header-leftbox
        .header-leftbox__group-name
          = @group.name
        %ul.header-leftbox__group-member
          Member:
          - @group.users.each do |user|
            = user.name

      .header-rightbox
        = link_to edit_group_path(@group), class: "edit-account__btn" do
          Edit

  .chat-main__message-field
    = render @messages
    
          
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "message-form"}, local: true do |f|
      = f.text_field :content, class: 'message-form__body', placeholder: 'type a message'
      = f.label :image, class: 'message-form__image' do
        = icon('far', 'image', class: 'form__icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'message-form__sending'