.side-bar  
  .side-bar__user-name
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.list
        = link_to "#", class: "top-items__crate-group" do
          = icon('fas', 'edit', class: "top-items__btn--left")
        %li.list
        = link_to edit_user_path(current_user), class: "top-items__edit-account" do
          = icon('fas', 'cog', class: "top-items__btn--right")
  .side-bar__group-lists
    .group-list
      .group-list__name noke-neko
      .group-list__message nyao
    .group-list
      .group-list__name noke-neko
      .group-list__message piyo
    .group-list
      .group-list__name noke-neko
      .group-list__message drop a letter!
    .group-list
      .group-list__name noke-neko
      .group-list__message nyao
    .group-list
      .group-list__name noke-neko
      .group-list__message piyo